body {
    background-color: #575a65;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    background-color: #333;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:	#FF7900;
  }